# Python Functions

In [25]:
#defining the function

def greet(name):
    """"greets 
    person"""
    print("Hello," + name + ". Good morning")

In [6]:
 greet(' Kiratu')

Hello, Kiratu. Good morning

In [8]:
greet(" Ruth")

Hello, Ruth. Good morning

In [36]:
def greet(name, msg = 'Good  Morning!'): 
    print('Hello', name+ ',' + msg)

In [37]:
greet('Kate')

Hello Kate,Good  Morning!

In [38]:
greet('Bruce', 'How do you do?')

Hello Bruce,How do you do?

In [14]:
print(greet.__doc__)

"greets
    person

In [21]:
print(greet("May"))

Hello,May. Good morning
None

In [29]:
def greet(name):
    """greets name""" 
    
    print("Hello," + name + ". Good morning")

In [30]:
print(greet.__doc__)

greets

In [22]:
def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""

    if num >= 0:
        return num
    else:
        return -num

print(absolute_value(2))

2

In [23]:
print(absolute_value(-4))

4

# Exercises

In [ ]:
#1. Create a function that takes a name and returns a greeting.

In [46]:
def greet(name):
    """"greets 
    person"""
    print("Hello," + name + ". Good morning")
greet(' Kiratu')

Hello, Kiratu. Good morning

In [43]:
#2. Write a function that takes the base and height of a triangle and return its area."""

#Area of triangle

def area_triangle(base,height):
    """finds area of a triangle"""
    return (base*height)/2

In [41]:
area_triangle(2,4)

4.0

In [ ]:
#2. Create a function that finds the maximum range of a triangle's third edge.
# maximum range of third edge = (side1 + side2) - 1 .

In [47]:
def area_triangle(base, height):
    """calculates area"""
    return(base*height)/2

In [48]:
area_triangle(2,4)

4.0

In [49]:
area_triangle(3,2)

3.0

In [ ]:
#3. Create a function that finds the maximum range of a triangles third edge.  
# maximum range of third edge = (side1 + side2) - 1 .

In [56]:
def maximum_range(side1, side2):
    return (side1 + side2) - 1

In [57]:
maximum_range(3,4)

6

In [ ]:
#4. Create a function that takes a list and returns the first element.

In [69]:
values = [4,5,6, 'new']
print(values)

[4, 5, 6, 'new']

In [64]:
print(str(values))

[4, 5, 6]

In [65]:
res = [values[0]]
print(res)

[4]

In [68]:
values = [11,12,13]
res = [values[0]]
print(res)

[11]

In [60]:
test_list = [1,2,3]
print(test_list)

[1, 2, 3]

In [61]:
test_list = [1,2,3]
print(str(test_list))

[1, 2, 3]

In [62]:
# Python3 code to demonstrate 
# to get first and last element of list 
# using list indexing 

# initializing list 
test_list = [1, 5, 6, 7, 4] 

# printing original list 
print ("The original list is : " + str(test_list)) 

# using list indexing 
# to get first and last element of list 
res = [ test_list[0], test_list[-1] ] 

# printing result 
print ("The first and last element of list are : " + str(res))

The original list is : [1, 5, 6, 7, 4]
The first and last element of list are : [1, 4]

In [ ]:
# 5. You've got chickens (2 legs), cows (4 legs) and pigs (4 legs) on your farm. 
#Return the total number of legs on your farm. (CREATE A FUNCTION)

In [72]:
def animals(chicken, cows, pigs):
    #total legs
    return((chicken*2) + (cows*4) + (pigs*4))

In [73]:
animals(2,3,5)

36

In [ ]:
#6. Create a function that takes a list of numbers. Return the largest number in the list.

In [85]:
def test(a,b,c):
    if(a>b & a>c):
       return(a)
    elif(b>a & b>c):
       return(b)
    else:
       return (c)

In [82]:
list(2,3,4)

4

In [91]:
marks = [2,3,4]
max(marks)

4

In [95]:
min(marks)

2

In [96]:
range(3, 20, 2)

range(3, 20, 2)

In [ ]:
# 7. Given a list of integers, return the difference between the largest and smallest integers in the list.

In [104]:
scores = [10,20,30]
x = max(scores)
y = min(scores)

def difference(scores):
    return(x - y)

In [105]:
difference(scores)

20

In [ ]:
# 8. Create a function to concatenate two integer lists.

In [106]:
# method 1
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [107]:
# method 2
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [121]:
# Python3 code to demonstrate list 
# concatenation using list.extend() 

# Initializing lists 
test_list3 = [1, 4, 5, 6, 5] 
test_list4 = [3, 5, 7, 2, 5] 

# using list.extend() to concat 
test_list3.extend(test_list4) 

# Printing concatenated list 
print ("Concatenated list using list.extend() : "
							+ str(test_list3))

[1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [120]:
score_1 = [1,2,3]
score_2 = [3,4,5]
list_final = score_1 + score_2
list_final

[1, 2, 3, 3, 4, 5]

In [128]:
score_1 = [1,2,3]
score_2 = [3,4,5]
score_1.extend(score_2)
score_1

[1, 2, 3, 3, 4, 5]

In [129]:
score_1 = [1,2,3]
score_2 = [3,4,5]
score_1.extend(score_2)
print(score_1)

[1, 2, 3, 3, 4, 5]

In [126]:
# Python3 code to demonstrate list 
# concatenation using list.extend() 

# Initializing lists 
test_list3 = [1, 4, 5, 6, 5] 
test_list4 = [3, 5, 7, 2, 5] 

# using list.extend() to concat 
test_list3.extend(test_list4) 

new = test_list3.extend(test_list4) 
test_list3

[1, 4, 5, 6, 5, 3, 5, 7, 2, 5, 3, 5, 7, 2, 5]

In [ ]:
# 9. Create a function that takes two strings as arguments 
#and return either True or False depending on whether 
#the total number of characters in the first string
#is equal to the total number of characters in the second string.

In [136]:
str_1 = 'ab'
str_2 = 'cdd'

if(len(str_1) == len(str_2)):
    print('True')
else:
    print('False')

False